build/
dist/
.env
!.env.example
*.log
node_modules/
cache/
out/*
.autosave
*.sbs
*.sbsar
*.psd
**/block/main/**/*glass*
**/block/main/**/*lamp*
**/block/main/**/*lit*
**/block/main/**/*plate*
**/glass/main/resources/**/*plate*
**/glass/main/resources/**/*lamp*
**/glass/main/resources/**/*lit*
**/glass/main/resources/**/*block*