<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Minecraft Pixel Art to Add-on Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css">
  </head>
  <body
    class="bg-minecraft-slate-700 text-gray-100 p-0 m-0 flex flex-col content-start min-h-screen"
  >
    <header
      class="bg-minecraft-slate-200 border-b-4 border-minecraft-slate-300 shadow-sm text-black text-center py-2 flex group"
    >
      <h1 class="font-bold text-2xl uppercase mb-0 cursor-default px-12 mx-auto relative">
        Minecraft <strong class="bg-clip-text font-bold text-transparent bg-black group-hover:bg-[linear-gradient(90deg,#ff2400_10%,#e81d1d_20%,#e8b71d_30%,#e3e81d_40%,#31cd4c_50%,#1ddde8_60%,#2b1de8_70%,#dd00f3_80%,#dd00f3_90%,#ff0000_100%)]">Full-Color</strong> Pixel Art Generator
      </h1>
    </header>

    <div class="flex flex-col md:flex-row items-stretch sm:flex-1">
      
      <form
        class="container border-t border-t-minecraft-slate-900 pt-4 flex flex-col md:flex-grow h-full items-stretch"
        method="post"
        action="/download"
        enctype="multipart/form-data"
      >
        <div class="divide-y-2 mx-2 divide-minecraft-slate-400">
          <fieldset
            class="block pt-2 pb-4 pl-4 pr-2 border-t-0 border-b-2 border-b-minecraft-slate-800"
          >
            <legend
              class="text-gray-300 text-base font-light uppercase cursor-default"
            >
              Pixel Art Source
            </legend>
            <label
              class="block bg-minecraft-slate-600 border-4 border-minecraft-slate-900 cursor-pointer text-center select-none pb-1"
              for="palette-source"
            >
              <span
                class="block border-2 border-minecraft-slate-50 bg-minecraft-slate-200 text-black text-base font-semibold capitalize py-2 shadow-sm hover:bg-minecraft-slate-100"
                >Select image</span
              >
              <input
                class="hidden"
                id="palette-source"
                name="palette-source"
                type="file"
                accept="image/*"
                aria-labelledby="palette-source-description"
              />
            </label>

            <details
              class="block group mt-4 open:drop-shadow-sm hover:border-minecraft-slate-900"
            >
              <summary class="cursor-pointer list-none text-sm leading-relaxed">
                <span
                  class="bg-minecraft-slate-500 group-open:bg-minecraft-slate-600 border-2 border-minecraft-slate-900 px-3 py-1 group-open:border-b-0 group-open:inline-block select-none"
                  >File Support</span
                >
              </summary>
              <div
                class="bg-minecraft-slate-800 border-minecraft-slate-900 group-open:border-2 group-open:border-minecraft-slate-900"
              >
                <p
                  class="text-gray-50 mt-2 px-3 pb-2"
                  id="palette-source-description"
                >
                  Submit an image between <b>2px</b> and <b>64px</b> in length
                  or width. PNGs, JPEGs and GIFs are the current supported file
                  types. Alpha values and animation frames can be converted.
                </p>
              </div>
            </details>
          </fieldset>

          <div class="border-b-2 border-b-minecraft-slate-800">
            <fieldset
              class="border-b-minecraft-slate-800 border-minecraft-slate-500 pt-2 pb-4 pl-4 mt-4"
            >
              <legend
                class="text-gray-300 text-base font-light uppercase cursor-default"
              >
                Pack Details
              </legend>
              <label class="flex flex-col" for="namespace">
                <span class="block text-minecraft-slate-200 font-semibold"
                  >Namespace</span
                >
                <input
                  class="block mt-2 caret-minecraft-green-100 bg-minecraft-slate-800 focus:ring-2 focus:ring-minecraft-slate-500 border-2 border-solid border-minecraft-slate-900 border-t-4 border-t-minecraft-slate-900 focus:border-t-minecraft-slate-900 focus:border-minecraft-slate-800"
                  id="namespace"
                  name="namespace"
                  type="text"
                  autocomplete="off"
                  maxlength="20"
                  pattern="^[a-z]+[a-z0-9]*"
                  placeholder="my_pack"
                />
              </label>
            </fieldset>
          </div>
          <div class="border-t-2 border-b-2">
            <fieldset
              class="border-b-minecraft-slate-800 border-minecraft-slate-500 pt-2 pb-4 pl-4 mt-4"
            >
              <legend
                class="text-gray-300 text-base font-light uppercase cursor-default"
              >RTX Materials</legend>

              <div class="flex flex-row justify-start mt-6 mx-4">
                <label class="flex flex-row flex-1 justify-items-stretch align-middle" for="rtx[plastic]">
                  <span class="block text-minecraft-slate-200 font-semibold"
                    >Plastic</span
                  >
                  <input
                    class="ml-2"
                    id="rtx[plastic]"
                    name="rtx[plastic]"
                    type="checkbox"
                    checked
                  />
                </label>

                <label class="flex flex-row flex-1 justify-start" for="rtx[metal]">
                  <span class="block text-minecraft-slate-200 font-semibold"
                    >Metal</span
                  >
                  <input
                    class="ml-2"
                    id="rtx[metal]"
                    name="rtx[metal]"
                    type="checkbox"
                    checked
                  />
                </label>

                <label class="flex flex-row flex-1 justify-start" for="rtx[glowing]">
                  <span class="block text-minecraft-slate-200 font-semibold"
                    >Glowing</span
                  >
                  <input
                    class="ml-2"
                    id="rtx[glowing]"
                    name="rtx[glowing]"
                    type="checkbox"
                    checked
                  />
                </label>
              </div>
            </fieldset>
          </div>
        </div>
        <button
          class="bg-minecraft-green-200 outline outline-minecraft-slate-900 border-b-4 border-b-minecraft-green-300 hover:bg-minecraft-green-100 hover:shadow-sm border-t-minecraft-green-100 active:border-t-4 active:border-t-minecraft-slate-800 active:border-b-0 shadow-md mt-6 flex flex-row p-0 mx-6 mb-2 text-lg"
          type="submit"
        >
          <span
            class="border-2 border-minecraft-green-100 hover:border-white/25 uppercase leading-loose px-10 py-2 min-w-full"
          >
            <b class="drop-shadow">Generate</b></span
          >
        </button>
      </form>

      <div
        class="bg-minecraft-slate-900 px-4 flex flex-col justify-start align-center flex-1 sm:border-2 border-minecraft-slate-800"
      >
        <div
          class="inline-block bg-minecraft-slate-900 border-2 border-minecraft-slate-900 peer empty:hidden empty:mt-0 mt-4 mx-1 shadow"
          id="preview"
        ></div>
        <output
          class="peer-empty:mt-0 peer-empty:hidden bg-minecraft-blue text-white text-sm text-center shadow-sm rounded-sm m-2 py-1 px-4 select-none self-end sm:self-center"
          id="fileInputValue"
        ></output>
        <div class="mx-2 mt-auto mb-2">
            <h3 class="font-semibold">Usage Examples</h3>
            <div class="divide-y-2 divide-minecraft-slate-400">
              <p class="leading-relaxed py-2 mb-1"><code>/function print/input_metal_x</code></p>
              <p class="leading-relaxed py-2 mb-1"><code>/function print/input_glowing_y</code></p>
              <p class="leading-relaxed py-2 mb-1"><code>/function print/input_plastic_z</code></p>
            </div>
        </div>
      </div>
    </div>

    
    <footer
      class="bg-black border-t-2 border-t-minecraft-slate-800 text-gray-500 mx-0 px-2 mt-auto mb-0 text-right p-2 flex flex-row justify-between"
    >
      <a
        class="text-white"
        href="https://github.com/jasonjgardner/minecraft-rtx-rainbow"
        rel="noreferrer noopener"
        title="View this project's GitHub repository"
        >GitHub</a
      >
      <span class="text-sm">
        by
        <a
          class="font-black uppercase"
          href="https://jasongardner.dev"
          title="Visit Jason Gardner's website"
          >Jason J. Gardner</a
        >
      </span>
    </footer>
    <script type="module">
      const imageInput = document.getElementById("palette-source");
      const maxImageSize = 64;
      const previewContainer = document.getElementById("preview");
      imageInput.addEventListener("change", async (event) => {
        const file = event.target.files[0];

        document.getElementById("fileInputValue").innerHTML = file.name;

        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => {
          const img = new Image();
          img.src = reader.result;
          img.alt = `${file.name} image preview`;
          img.className = 'w-full drop-shadow-md';
          img.style.imageRendering = 'pixelated';
          
          previewContainer.innerHTML = ''

          img.onload = () => {
            img.width = Math.min(maxImageSize, img.naturalWidth)

            previewContainer.appendChild(img)
          }
        };
      });
    </script>
  </body>
</html>
